<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Perfil</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-grid>
              <ion-row justify-content-center>
                  <ion-img src="/assets/icon/favicon.png"></ion-img>
                <ion-col align-self-center size="12">
                  <div text-center>
                    <h5>Nome Usuário</h5>

                    <p color="secondary">Freelancer</p>
                    <ion-button>
                      <ion-icon name="create"></ion-icon> Alterar
                    </ion-button>
                    <ion-button href="perfil">
                      <ion-icon name="eye"></ion-icon> Ver Perfil
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
