  <ion-tab-bar>
    <ion-tab-button href="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home Page</ion-label>
    </ion-tab-button>
    <ion-tab-button href="search">
        <ion-icon name="search"></ion-icon>
        <ion-label>Pesquisa</ion-label>
      </ion-tab-button>
    <ion-tab-button href="notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
      <ion-badge>6</ion-badge>ss
    </ion-tab-button>

    

    
  </ion-tab-bar>